.about-us {
  padding: 30px 30px 40px 30px;
}

.about-us__heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item {
  padding-top: 60px;
}
