.about-us {
  box-sizing: border-box;

  width: 320px;
  margin: auto;
  padding: 31px 30px 15px 30px;
}

.about-us__heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  letter-spacing: -0.4px;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item {
  box-sizing: border-box;

  position: relative;
  padding-top: 68px;
  margin-bottom: 15px;

  line-height: 20px;

  &--icon-flower::before {
    content: "";

    position: absolute;
    width: 33px;
    height: 38px;
    top: 15px;
    left: 8px;

    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
  }

  &--icon-money::before {
    content: "";

    position: absolute;
    width: 47px;
    height: 27px;
    top: 17px;
    left: 0;

    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
  }

  &--icon-heart::before {
    content: "";

    position: absolute;
    width: 34px;
    height: 28px;
    top: 21px;
    left: 8px;

    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
  }

  &--icon-ball::before {
    content: "";

    position: absolute;
    width: 35px;
    height: 34px;
    top: 18px;
    left: 3px;

    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
  }

  &--icon-rocket::before {
    content: "";

    position: absolute;
    width: 55px;
    height: 23px;
    top: 20px;
    left: -5px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
  }

  &--icon-gift::before {
    content: "";

    position: absolute;
    width: 33px;
    height: 32px;
    top: 19px;
    left: 3px;

    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
  }
}

.about-us__icon {
  position: absolute;
  top: 20px;
  left: 0;

  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .about-us {
    width: auto;
    margin-bottom: 46px;
    padding: 0;
  }

  .about-us__heading {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__content {
    display: flex;
  }

  .about-us__column {
    width: 50%;
  }

  .about-us__item {
    margin-right: 32px;
    padding-top: 81px;
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 22px;

    &--icon-flower::before {
      top: 29px;
      left: 11px;
    }

    &--icon-money::before {
      top: 27px;
      left: 2px;
    }

    &--icon-heart::before {
      top: 31px;
      left: 11px;
    }

    &--icon-ball::before {
      top: 32px;
      left: 5px;
    }

    &--icon-rocket::before {
      top: 31px;
      left: -3px;
    }

    &--icon-gift::before {
      top: 26px;
      left: 4px;
    }
  }

  .about-us__icon {
    top: 30px;
    left: 1px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    margin-bottom: 56px;
  }

  .about-us__heading,
  .about-us__content {
    padding-left: 173px;
    padding-right: 175px;
  }

  .about-us__heading {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {
    margin-right: 57px;

    &--icon-flower::before {
      top: 29px;
      left: 11px;
    }

    &--icon-money::before {
      top: 27px;
      left: 2px;
    }

    &--icon-heart::before {
      top: 31px;
      left: 11px;
    }

    &--icon-ball::before {
      top: 32px;
      left: 5px;
    }

    &--icon-rocket::before {
      top: 31px;
      left: -3px;
    }

    &--icon-gift::before {
      top: 26px;
      left: 4px;
    }
  }
}
