.button {
  display: block;
  box-sizing: border-box;

  text-align: center;
}

.button--size-l {
  width: 260px;
  padding: 16px 10px;
}

.button--theme-gray {
  border: 2px solid @color-gray;
  color: @color-gray;
}
