.cart {
  position: relative;
}

.cart__icon {
  position: absolute;
  width: 21px;
  height: 19px;
  top: 2px;
  left: -42px;
}

@media (min-width: @tablet-width) {
  .cart {

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .cart__icon {
    top: 34px;
    left: 32px;
  }

  .cart:hover .cart__icon {
    fill: #63d1bb;
  }

  .cart:active .cart__icon {
    opacity: 0.3;
  }
}
