.cart {
  position: relative;

  &--icon::before {
    content: "";

    position: absolute;
    width: 21px;
    height: 19px;
    top: 2px;
    left: -42px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .cart {
    &--icon::before {
      top: 34px;
      left: 32px;
    }
  }
}
