.form-order {
  box-sizing: border-box;

  width: 320px;
  margin: auto;
  padding: 0 30px;
}

.form-order__wrapper {
  position: relative;
}

.form-order__item {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  border: none;

  &--margin-name {
    margin-bottom: 7px;
  }

  &--position-top {
    margin-bottom: 10px;
  }
}

.form-order__heading {
  position: relative;
  padding: 0;
  margin-bottom: 34px;
  margin-top: 0;

  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    width: 77%;
    height: 2px;
    top: 10px;
    left: 61px;

    background-color: #63d1bb;
  }

  &--margin-name {
    margin-bottom: 26px;
  }

  &--margin-tel {
    margin-bottom: 18px;
  }

  &--margin-mail {
    margin-bottom: 18px;

    &::after {
      width: 69%;
      left: 81px;
    }
  }

  &--margin-message {
    margin-bottom: 26px;
  }
}

.form-order__product-type-label {
  display: block;

  position: relative;
  margin: 0 0 24px;
  padding: 0 0 0 62px;

  line-height: 18px;

  &::before {
    content: "";

    position: absolute;
    top: -8px;
    left: 0;
    width: 36px;
    height: 36px;

    border: 2px solid black;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid #62d1ba;
  }

  &:active::before {
    border: 2px solid #c7c7c7;
  }

  &::after {
    display: none;

    content: "";

    position: absolute;
    top: 3px;
    left: 12px;
    width: 16px;
    height: 16px;

    background-color: #63d1bb;

    border-radius: 50%;
  }
}

.form-order__product-type-radio:checked + .form-order__product-type-label {
  &::after {
    display: block;
  }
}

.form-order__product-color-label {
  display: block;
  box-sizing: border-box;

  position: relative;
  margin: 0 0 37px;
  padding: 0 0 0 63px;

  &::before {
    content: "";

    position: absolute;
    top: -8px;
    left: 0;
    width: 36px;
    height: 36px;

    border: 2px solid black;
  }

  &:hover::before {
    border: 2px solid #62d1ba;
  }

  &:active::before {
    border: 2px solid #c7c7c7;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.form-order__product-color-checkbox:checked + .form-order__product-color-label {
  &::before {
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.form-order__customer-name-label {
  display: block;
}

.form-order__customer-name {
  width: 100%;
  margin: 0 0 24px;
  padding: 14px 0 13px 0;

  font-size: 17px;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);

  &:hover,
  &:focus {
    border-bottom: 2px solid #62d1ba;
  }
}

.form-order__container {
  &--margin-name {
    margin-top: -4px;
  }
}

.form-order__customer-email,
.form-order__customer-tel {
  display: block;

  width: 100%;
  margin: 0 0 18px;
  padding: 0 0 18px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.form-order__wrapper:hover .form-order__customer-email,
.form-order__wrapper:hover .form-order__customer-tel {
  border-bottom: 2px solid #62d1ba;
}

.form-order__wrapper:active .form-order__customer-email,
.form-order__wrapper:active .form-order__customer-tel {
  border-bottom: 2px solid #62d1ba;
}

.form-order__wrapper:focus .form-order__customer-email,
.form-order__wrapper:focus .form-order__customer-tel {
  border-bottom: 2px solid #62d1ba;
}

.form-order__customer-tel-icon,
.form-order__customer-email-icon {
  position: absolute;
  top: -2px;
  right: 9px;

  fill: #cccccc;
}

.form-order__customer-email-icon {
  right: 4px;
}

.form-order__wrapper:hover .form-order__customer-tel-icon,
.form-order__wrapper:hover .form-order__customer-email-icon {
  fill: #62d1ba;
}

.form-order__wrapper:active .form-order__customer-tel-icon,
.form-order__wrapper:active .form-order__customer-email-icon {
  fill: #62d1ba;
}

.form-order__wrapper:focus .form-order__customer-tel-icon,
.form-order__wrapper:focus .form-order__customer-email-icon {
  fill: #62d1ba;
}

.form-order__message {
  display: block;
  box-sizing: border-box;

  margin: 0 0 -5px;
  width: 100%;
  padding: 17px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  border: 2px solid rgb(0, 0, 0);

  &:hover,
  &:focus {
    border: 2px solid #62d1ba;
  }
}

.form-order__notification {
  margin: 0 0 31px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .form-order {
    width: auto;
    padding: 0;
  }

  .form-order__container {
    display: flex;

    &--margin-name {
      margin-top: 2px;
    }

    &--flex-row-reverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  .form-order__heading {
    box-sizing: border-box;

    width: 25%;
    margin-bottom: 0;

    letter-spacing: 0.1px;

    &::after {
      display: none;
    }

    &--margin-message {
      margin-top: -8px;
    }
  }

  .form-order__wrapper {
    box-sizing: border-box;

    width: 75%;

    &--flex-row {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form-order__item {
    margin-bottom: 5px;
    padding-top: 70px;

    font-size: 18px;
    line-height: 19px;

    &--bg-gray {
      background-color: rgb(241, 241, 241);
    }

    &--position-top {
      padding: 0;
      padding-top: 18px;
      margin-top: -5px;
      min-height: 87px;
    }
  }

  .form-order__product-type-label {
    margin-bottom: 60px;
    padding-left: 82px;

    letter-spacing: 0.5px;

    &::before {
      width: 48px;
      height: 48px;
      top: -15px;
    }

    &::after {
      width: 21px;
      height: 21px;
      top: 1px;
      left: 15px;
    }
  }

  .form-order__product-color-label {
    width: 170px;
    margin-bottom: 58px;
    padding-left: 81px;
    margin-right: 93px;

    font-size: 19px;
    line-height: 18px;

    &::before {
      top: -16px;
      width: 49px;
      height: 49px;
    }

    &--margin-null {
      margin-right: 0;
    }
  }

  .form-order__customer-name-label {
    margin-right: 25px;

    font-size: 19px;
    line-height: 18px;
  }

  .form-order__customer-name {
    margin-bottom: 38px;
    padding: 0 13px 13px 17px;

    font-size: 19px;
    line-height: 18px;
  }

  .form-order__button {
    margin-left: 0;
    width: 230px;

    text-transform: uppercase;
  }

  .form-order__notification {
    font-size: 17px;
    line-height: 30px;

    margin: 0;
  }

  .form-order__customer-email,
  .form-order__customer-tel {
    padding-bottom: 15px;
    padding-left: 15px;

    font-size: 19px;
    line-height: 18px;

    background-color: transparent;
  }

  .form-order__customer-tel-icon {
    right: 25px;
  }

  .form-order__customer-email {
    margin-bottom: 50px;
  }

  .form-order__customer-email-icon {
    right: 21px;
  }

  .form-order__message {
    margin-top: -26px;
    margin-bottom: 44px;
  }
}

@media (min-width: @desktop-width) {
  .form-order__item {
    padding-top: 67px;

    &--position-top {
      padding-top: 26px;
    }
  }

  .form-order__heading {
    width: 16.7%;

    padding-left: 63px;
  }

  .form-order__wrapper {
    width: 66.5%;

    &--width-full {
      width: 83.3%;
    }
  }

  .form-order__product-color-label {
    width: 262px;
  }

  .form-order__button {
    margin-left: 16.7%;
  }

  .form-order__notification {
    margin-right: 16.7%;
  }
}
