.main-nav {
  position: relative;

  border-bottom: 2px solid rgb(236, 236, 236);
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 85px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
