.page-header {
  border-bottom: 2px solid #ececec;
}

.page-header__logo {
  margin: auto;
  margin-top: 22px;
  margin-bottom: 16px;
}

.page-header__wrapper {
  width: 320px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    position: absolute;
    left: 43%;
    margin-top: 9px;
    margin-bottom: 0;
  }
}
