.page-footer {
  margin: 0;
  margin-top: 34px;
  padding: 25px 30px;
  padding-bottom: 30px;

  &--bg-gray {
    background-color: rgb(241, 241, 241);
  }
}

.catalog-page .page-footer {
  margin-top: 60px;
}

.form-page .page-footer {
  margin-top: 53px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin-top: 70px;
    padding: 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form-page .page-footer__wrapper {
    padding-top: 54px;
  }

  .page-footer__logo {
    display: block;

    position: static;
    width: 33%;

    text-align: left;
  }

  .page-footer__item {
    width: 33%;
  }

  .catalog-page .page-footer {
    margin-top: 65px;
  }

  .form-page .page-footer {
    margin-top: 47px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 49px;
    padding: 0;
  }

  .page-footer__logo {
    width: 25%;
  }

  .catalog-page .page-footer {
    margin-top: 104px;
  }

  .form-page .page-footer {
    margin-top: 48px;
  }
}
