.product-nav {
  padding: 0;
  margin: 0;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.product-nav__lead {
  margin: 0;
  padding: 76px 38px 120px 38px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.product-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-nav__link {
  display: block;

  padding: 30px;
  padding-right: 160px;

  color: rgb(255, 255, 255);

  &--bg-light-green {
    background-color: #63d1bb;
  }

  &--bg-dark-green {
    background-color: #56c3b2;
  }
}

@media (min-width: @tablet-width) {
  .product-nav {
    min-height: 746px;

    background-image: url("../img/hero-desktop.jpg");
    background-size: cover;
  }
  .product-nav__lead {
    padding: 161px 0 447px 0;

    font-size: 43px;
    line-height: 50px;
  }
  .product-nav__list {
    display: flex;
  }
  .product-nav__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .product-nav {
    background-size: auto;
    background-color: rgb(249, 249, 249);
  }
}
