.product-of-the-week {
  box-sizing: border-box;

  position: relative;
  width: 320px;
  margin: auto;
  padding: 27px 30px 40px 30px;

  &::before {
    content: "";

    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;

    z-index: 1;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
  }
}

.product-of-the-week__wrapper {
  position: relative;
}

.product-of-the-week__name {
  margin: 0;
  margin-bottom: 3px;

  font-size: 25px;
  line-height: 30px;
}

.product-of-the-week__text {
  margin: 0;
  margin-bottom: 21px;

  font-size: 17px;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.product-of-the-week__description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;
  font-weight: 400;
  color: @color-gray;
}

.product-of-the-week__price {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 25px;
}

.product-of-the-week__properties {
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .product-of-the-week {
    min-height: 626px;
    width: auto;
    margin-bottom: 50px;
    padding: 0;

    &::before {
      height: 16px;

      background-size: auto 15px;
    }
  }

  .product-of-the-week__wrapper {
    position: relative;
    padding: 45px 0;
  }

  .product-of-the-week__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
  }

  .product-of-the-week__name {
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .product-of-the-week__text {
    margin: 0;
    max-width: 120px;
    padding-top: 10px;
    padding-right: 3px;

    line-height: 17px;
    font-weight: bold;
    text-align: center;
  }

  .product-of-the-week__content {
    display: flex;

    min-height: 400px;
  }

  .product-of-the-week__description {
    margin-bottom: 35px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-of-the-week__price {
    margin-bottom: 33px;

    font-size: 20px;
    line-height: 24px;
  }

  .product-of-the-week__img {
    margin-top: 7px;
    height: 404px;
    width: 333px;

    object-fit: cover;
  }

  .product-of-the-week__properties {
    margin-bottom: 150px;
  }

  .product-of-the-week__content-text {
    position: relative;
    box-sizing: border-box;

    padding-right: 40px;
    width: 50%;

    &--position-tablet {
      position: absolute;

      left: -2px;
      bottom: 49px;
    }
  }
}

@media (min-width: @desktop-width) {
  .product-of-the-week {
    min-height: 800px;
    margin-bottom: 65px;

    &::before {
      display: none;
    }
  }

  .product-of-the-week__wrapper {
    padding: 0;

    &::before {
      content: "";

      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -96px;
      left: 0;

      z-index: 1;

      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: auto 23px;
    }
  }

  .product-of-the-week__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    padding-top: 126px;
  }

  .product-of-the-week__text {
    padding-left: 22px;
  }

  .product-of-the-week__name {
    padding-left: 25px;

    font-size: 53px;
    line-height: 57px;
  }

  .product-of-the-week__content {
    display: block;

    max-width: 292px;
    padding-left: 175px;
  }

  .product-of-the-week__content-text {
    position: static;
    width: 100%;
    padding: 0;
  }

  .product-of-the-week__description {
    margin-bottom: 44px;
  }

  .product-of-the-week__img {
    position: absolute;
    top: 68px;
    right: 0;
    width: 525px;
    height: 636px;

    z-index: -1;
  }

  .product-of-the-week__properties {
    margin-bottom: 107px;
  }
}
