.product__image {
  display: block;
}

.product__content {
  padding: 30px;
}

.product__content--border-gray {
  border: 2px solid rgb(237, 237, 237);
}

.product__name {
  margin: 0;
  padding: 0;
}

.product__properties {
  font-size: 13px;
  line-height: 30px;
  color: @color-gray;
  font-weight: 400;
}
