.site-developer {
  margin-top: 30px;
}

.site-developer__link {
  display: block;

  color: rgb(0, 0, 0);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .site-developer {
    margin: 0;
  }
}
