.site-developer {
  box-sizing: border-box;

  margin: auto;
  margin-top: 25px;
  max-width: 260px;
}

.site-developer__link {
  display: block;

  position: relative;
  padding-left: 37px;

  font-size: 19px;
  line-height: 18px;
  color: rgb(0, 0, 0);
}

.site-developer__icon {
  display: inline-block;

  position: absolute;
  top: -7px;
  right: 39px;

  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .site-developer {
    margin: 0;

    font-size: 18px;
    line-height: 19px;
  }

  .page-footer__item.site-developer {
    padding-top: 11px;
  }

  .site-developer__link {
    position: relative;
    padding-right: 25px;
  }

  .site-developer__icon {
    position: absolute;
    top: -6px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-developer__link {
    padding-right: 0;
    padding-left: 76px;
  }

  .site-developer__link:hover .site-developer__icon {
    fill: #46c1ae;
  }

  .site-developer__link:active {
    opacity: 0.3;
  }
}
