.social-nets {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;

  list-style: none;

  &--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &--border-b-gray {
    border-bottom: 2px solid rgb(229, 229, 229);
  }
}

.social-nets__item {
  margin-left: 40px;

  &--margin-null {
    margin: 0;
    margin-left: -8px;
  }
}

.social-nets__link {
  display: block;

  svg {
    fill: #231f20;
  }
}

@media (min-width: @tablet-width) {
  .social-nets {
    padding: 0;

    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .social-nets {
    padding-top: 8px;
  }

  .social-nets__link:hover svg {
    fill: #46c1ae;
  }

  .social-nets__link:active svg {
    opacity: 0.3;
  }
}
