.user-nav {
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-nav__item {
  padding: 30px 30px 30px 75px;

  border-top: 2px solid rgb(236, 236, 236);

  &--hidden {
    display: none;
  }
}

.user-nav__catalog-link {
  color: rgb(0, 0, 0);
}

@media (min-width: @tablet-width) {
  .user-nav {
    display: flex;
    order: 2;

    font-size: 15px;

    z-index: 1;
  }

  .user-nav__item {
    padding: 0;
    padding-top: 16px;
    padding-right: 36px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .user-nav {
    order: 0;

    position: static;
  }

  .user-nav__item {
    padding-top: 30px;
    padding-left: 34px;
    padding-right: 34px;

    font-size: 17px;

    border-left: 2px solid rgb(236, 236, 236);

    &:first-child {
      padding-left: 0;

      border: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-nav {
    flex-wrap: wrap;

    max-width: 428px;
  }

  .user-nav__item {
    padding-bottom: 35px;

    &--dropdown {
      display: block;

      padding-top: 17px;
      padding-right: 61px;
      padding-left: 0;

      font-size: 15px;
      line-height: 24px;

      border: none;
    }
  }
}
