.user-search {
  position: relative;

  &--icon::before {
    content: "";

    position: absolute;
    width: 18px;
    height: 18px;
    top: 9px;
    left: -42px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
  }
}

.user-search__input {
  display: block;

  font: inherit;
  color: rgb(0, 0, 0);
}

@media (min-width: @tablet-width) {
  .user-search {
      &--icon::before {
        display: none;
      }
  }

  .user-search__input::placeholder {
    visibility: hidden;
  }

  .user-search__input {
    max-width: 30px;

    border: none;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
